services:
  - type: web
    name: dinisohbet
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: JWT_SECRET
        generateValue: true

  - type: pserv
    name: dinisohbet-mongo
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile.mongo
    disk:
      name: mongo-data
      mountPath: /data/db
      sizeGB: 1
